<!--=========================--> 
<!--========= Footer =========--> 
<!--==========================-->
<div class="black-bg col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
      <footer class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <aside class="footer-lt">
            <ul>
              <li><i class="fa fa-phone"></i>+32 474 87 64 33 </li>
              <li><i class="fa fa-map-marker ping"></i> Oude Leielaan 31<br>
               8930 Menen</li>
              <li><i class="fa fa-envelope"></i> <a href="mailto:john@johnverbiest.be">john@johnverbiest.be</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <aside class="footer-rt">



<div class="sitemap pull-left"><ul>
{% assign sortedPages = site.pages | sort: "menu-order"  %}
{% for linkpage in sortedPages %}
    {% assign loopindex = forloop.index | modulo: 2 %}
        <li><i class="fa fa-stop"></i> <a href="{{ linkpage.permalink }}">{{ linkpage.title }}</a></li>
        {% if loopindex == 1 %}
            </ul></div><div class="sitemap pull-left"><ul>
        {% endif %}
{% endfor %}
</ul></div>


            <div class="copyright-area pull-right">
              <div class="logo pull-left"><a href="index.html"><img src="assets/johnverbiest_be/images/footer-logo.png" alt="logo" /></a></div>
              <div class="clearfix"></div>
            </div>
          </aside>
        </div>
      </footer>
    </div>
  </div>