<!--====================================--> 
<!--============ Navigatie =============--> 
<!--====================================-->
<div class="greyBg header-con col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
      <div class="row">
        <aside class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="logo pull-left"><a href="index.html"><img src="assets/johnverbiest_be/images/logo.png" alt="logo" /></a></div>
          <nav class="navbar navbar-default pull-right">
            <div class="container-fluid">
              <div class="row"> 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <div class="row">
                    <ul class="nav navbar-nav">


{% for page in site.pages %}
    <li><a href="{% page.permalink %}">{% page.title %}</a></li>
{% endfor %}


                      <li><a href="index.html">Home</a></li>
                      <li class="active"><a href="portfolio.html">Portfolio</a></li>
                      <li><a href="http://support.johnverbiest.be">Support</a></li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </aside>
      </div>
    </div>
  </div>